<div class="column"><p>IT`s column</p></div>
<h2>Create to do list</h2>
<input [(ngModel)]="Task.title" class="form-control" placeholder="name" />
<button (click)="addTodo(Task.title)" class='btn btn-secondary'>Todo!</button>

<h2>Current list</h2>
<div class="task" *ngFor="let task of Tasks">
  <h5 class="”card-title”">{{ task.title }}</h5>

  <button (click)='addDone(task)' class='btn btn-success'>Done!</button>
</div> 
<h2>Done</h2>
<button (click)='deleteDone()' class='btn btn-danger'>Delete all</button>
<div  *ngFor='let task of DoneTask'>
<h5 >{{task.title}}</h5>
</div>